<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登陆</title>
</head>

<body>
    <div id="app">
        <input v-model="username" type="email" placeholder="请输入邮箱">
        <br>
        <input v-model="pwd" type="password" placeholder="请输入密码">
        <br>
        <button v-on:click="onLogin">登陆</button>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="scripts/login.js"></script>
</html>